[submodule "Megatron-LM"]
	path = 3rdparty/Megatron-LM
	url = https://github.com/NVIDIA/Megatron-LM.git
	branch = main 
[submodule "Megatron-Energon"]
	path = 3rdparty/Megatron-Energon
	url = https://github.com/NVIDIA/Megatron-Energon.git
[submodule "Megatron-Bridge"]
	path = 3rdparty/Megatron-Bridge
	url = https://github.com/NVIDIA-NeMo/Megatron-Bridge.git
