trl
transformers == 5.8.0
packaging
six
regex
pyyaml
sentencepiece
pybind11
blobfile
flux
tiktoken
torch == 2.9.0
numpy == 1.26.0
nvidia-modelopt == 0.43.0

# ==== test ====
nltk
pytest
requests 
wrapt
tensorboard
tensorboardX
scipy
psutil
